<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DataSourceStr" value="pdb_kaihatusystem" />
    <add key="DataSourceMsk" value="pdb_kaihatu" />
    <add key="UserIDStr" value="tsssystemusername" />
    <add key="UserIDMsk" value="usr" />
    <add key="PasswordStr" value="Tokunaga1234567890system" />
    <add key="PasswordMsk" value="Passwords" />
    <add key="TempPath" value="c:\tss\tsssystem\temp\" />
    <add key="SystemPath" value="c:\tss\tsssystem\System\" />
    <add key="CsvPath" value="c:\tss\tsssystem\" />
    <add key="Dainichi_cd" value="000051" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="db_conn" connectionString="Data Source=pdb;User Id=tss;Password=Tokunaga1" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>