<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DataSourceStr"  value="pdbsystem"/>
    <add key="DataSourceMsk"  value="str"/>
    <add key="UserIDStr"      value="tsssystemusername"/>
    <add key="UserIDMsk"      value="usr"/>
    <add key="PasswordStr"    value="Tokunaga1234567890system"/>
    <add key="PasswordMsk"    value="Passwords"/>
    <add key="TempPath"       value="c:\tss\tsssystem\temp\"/>
    <add key="CsvPath"        value="c:\tss\tsssystem\"/>
  </appSettings>
  <connectionStrings>
    <add name="db_conn" connectionString="Data Source=pdb;User Id=tss;Password=Tokunaga1"/>
  </connectionStrings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
</configuration>